{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


<div>
  <div class="row">
    <h3>
      
    </h3>
  </div>
</div>

<div>
  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td class="col-sm-2 align-top">
            <img src="{{ item['url_image'] }}" alt="..." class="img-fluid img-responsive rounded product-image">
            <p><strong>Id:</strong> <a href="{{  url_template.format(item['url_geeklist']) }}" target="_blank" role="button">{{ item['id'] }}</a></p>
            <p><strong>Username:</strong> {{ item['username'] }}</p>
            <p><strong>Ranking:</strong> {{ item['rank'] }}</p>
            <p><strong>Rating:</strong> {{ item['rating'] }}</p>
          </td>
          <td>
            {% autoescape false %}
            {{ item['description']}}
            {% endautoescape %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>




{% endblock %}